<div class="min-h-screen flex bg-black">
  <div class="hidden lg:flex lg:w-3/5 relative">
    <img
      src="login-img/event1.webp"
      alt="Organización de eventos"
      class="w-full h-full object-cover"
    />

    <div class="absolute inset-0 bg-black/20"></div>

    <div class="absolute inset-0 bg-linear-to-r from-transparent via-black/0 to-black"></div>

    <div class="absolute inset-0 flex flex-col justify-center items-center text-white p-10">
      <h1 class="text-5xl font-bold mb-4">EventPlanner</h1>

      <p class="text-xl text-center max-w-md">
        Gestiona bodas, conferencias, fiestas y eventos corporativos desde un solo lugar.
      </p>
    </div>
  </div>
  <div class="w-full lg:w-2/5 flex items-center justify-center p-8">
    <ng-content></ng-content>
  </div>
</div>
